{% extends 'dashboard/dashboardLayout.twig' %}

{% block pageContent %}
<div class="col-md-12">
   <div class="main-card mb-3 card">
      {% include 'dashboard/partials/agencyTable.twig' %}
   </div>
</div>
{% endblock %}