{% extends 'dashboard/dashboardLayout.twig' %}

{% block pageContent %}          
      <div class="row">
            <div class="col-md-6 col-xl-6">
               <div class="card mb-3 widget-content bg-midnight-bloom">
                  <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                           <div class="widget-heading">Agencies</div>
                           <div class="widget-subheading">Total Active Agencies</div>
                        </div>
                        <div class="widget-content-right">
                           <div class="widget-numbers text-white"><span>{{stats.agencyCount}}</span></div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-xl-6">
               <div class="card mb-3 widget-content bg-arielle-smile">
                  <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                           <div class="widget-heading">Agents</div>
                           <div class="widget-subheading">Total Agent Accounts</div>
                        </div>
                        <div class="widget-content-right">
                           <div class="widget-numbers text-white"><span>{{stats.agentCount}}</span></div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-xl-6">
               <div class="card mb-3 widget-content bg-grow-early">
                  <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                           <div class="widget-heading">Clients</div>
                           <div class="widget-subheading">Total Client Accounts</div>
                        </div>
                        <div class="widget-content-right">
                           <div class="widget-numbers text-white"><span>{{stats.clientCount}}</span></div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-xl-6">
               <div class="card mb-3 widget-content bg-premium-dark">
                  <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                           <div class="widget-heading">Residences</div>
                           <div class="widget-subheading">Total Residences</div>
                        </div>
                        <div class="widget-content-right">
                           <div class="widget-numbers text-warning"><span>{{stats.residenceCount}}</span></div>
                        </div>
                  </div>
               </div>
            </div>
      </div>
      <div class="row row-graph">
            <div class="col-md-12 col-lg-8 card-graph">
               <div class="mb-3 card">
                  <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                           <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                           Residence Addition Report
                        </div>
                        <ul class="nav">
                           <li class="nav-item"><a href="javascript:dayChart();" class="active nav-link" id="dayLabel">Day</a></li>
                           <li class="nav-item"><a href="javascript:weekChart();" class="nav-link second-tab-toggle" id="weekLabel">Week</a></li>
                           <li class="nav-item"><a href="javascript:monthChart();" class="nav-link second-tab-toggle" id="monthLabel">Month</a></li>
                        </ul>
                  </div>
                  <div class="card-body">
                        <div class="tab-content">
                           <div class="tab-pane fade show active" id="tabs-eg-77">
                              <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                    <div class="widget-chat-wrapper-outer">
                                       <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                          <canvas id="dayChart"></canvas>
                                          <canvas id="weekChart"></canvas>
                                          <canvas id="monthChart"></canvas>
                                          <script>
                                             var xValues = ["","{{dates.day.today|date_modify("-6 day")|date("d/m/Y")}}","{{dates.day.today|date_modify("-5 day")|date("d/m/Y")}}","{{dates.day.today|date_modify("-4 day")|date("d/m/Y")}}","{{dates.day.today|date_modify("-3 day")|date("d/m/Y")}}","{{dates.day.today|date_modify("-2 day")|date("d/m/Y")}}","{{dates.day.today|date_modify("-1 day")|date("d/m/Y")}}","{{dates.day.today|date_modify("-0 day")|date("d/m/Y")}}",""];

                                             new Chart("dayChart", {
                                             type: "line",
                                             data: {
                                                labels: xValues,
                                                datasets: [{ 
                                                   data: [
                                                      {% for day in dates.day %}
                                                         {{day.count}}
                                                         {% if not loop.last %},{% endif %}
                                                      {% endfor %}
                                                      ],
                                                   borderColor: "green",
                                                   fill: false,
                                                   label: "amount"
                                                }]
                                             },
                                             options: {
                                                legend: {display: false}
                                             }
                                             });

                                             var xValues = ["","week {{dates.day.today|date_modify("-6 week")|date("W")}}","week {{dates.day.today|date_modify("-5 week")|date("W")}}","week {{dates.day.today|date_modify("-4 week")|date("W")}}","week {{dates.day.today|date_modify("-3 week")|date("W")}}","week {{dates.day.today|date_modify("-2 week")|date("W")}}","week {{dates.day.today|date_modify("-1 week")|date("W")}}","week {{dates.day.today|date_modify("-0 week")|date("W")}}",""];

                                             new Chart("weekChart", {
                                             type: "line",
                                             data: {
                                                labels: xValues,
                                                datasets: [{ 
                                                   data: [
                                                      {% for week in dates.week %}
                                                         {{week.count}}
                                                         {% if not loop.last %},{% endif %}
                                                      {% endfor %}
                                                      ],
                                                   borderColor: "blue",
                                                   fill: false,
                                                   label: "amount"
                                                }]
                                             },
                                             options: {
                                                legend: {display: false}
                                             }
                                             });

                                             var xValues = ["","{{dates.day.today|date_modify("-6 month")|date("M")}}","{{dates.day.today|date_modify("-5 month")|date("M")}}","{{dates.day.today|date_modify("-4 month")|date("M")}}","{{dates.day.today|date_modify("-3 month")|date("M")}}","{{dates.day.today|date_modify("-2 month")|date("M")}}","{{dates.day.today|date_modify("-1 month")|date("M")}}","{{dates.day.today|date_modify("-0 month")|date("M")}}",""];

                                             new Chart("monthChart", {
                                             type: "line",
                                             data: {
                                                labels: xValues,
                                                datasets: [{ 
                                                   data: [
                                                      {% for month in dates.month %}
                                                         {{month.count}}
                                                         {% if not loop.last %},{% endif %}
                                                      {% endfor %}
                                                      ],
                                                   borderColor: "orange",
                                                   fill: false,
                                                   label: "amount"
                                                }]
                                             },
                                             options: {
                                                legend: {display: false}
                                             }
                                             });

                                             function dayChart(){
                                                   var day = document.getElementById("dayChart");
                                                   var week = document.getElementById("weekChart");
                                                   var month = document.getElementById("monthChart");
                                                   day.style.display = "block";
                                                   week.style.display = "none";
                                                   month.style.display = "none";
                                                   clearClass();
                                                   var dayLabel = document.getElementById("dayLabel");
                                                   var weekLabel = document.getElementById("weekLabel");
                                                   var monthLabel = document.getElementById("monthLabel");
                                                   dayLabel.classList.add("active");
                                                   weekLabel.classList.add("second-tab-toggle");
                                                   monthLabel.classList.add("second-tab-toggle");
                                             }

                                             function weekChart(){
                                                   var day = document.getElementById("dayChart");
                                                   var week = document.getElementById("weekChart");
                                                   var month = document.getElementById("monthChart");
                                                   day.style.display = "none";
                                                   week.style.display = "block";
                                                   month.style.display = "none";
                                                   clearClass();
                                                   var dayLabel = document.getElementById("dayLabel");
                                                   var weekLabel = document.getElementById("weekLabel");
                                                   var monthLabel = document.getElementById("monthLabel");
                                                   dayLabel.classList.add("second-tab-toggle");
                                                   weekLabel.classList.add("active");
                                                   monthLabel.classList.add("second-tab-toggle");
                                             }

                                             function monthChart(){
                                                   var day = document.getElementById("dayChart");
                                                   var week = document.getElementById("weekChart");
                                                   var month = document.getElementById("monthChart");
                                                   day.style.display = "none";
                                                   week.style.display = "none";
                                                   month.style.display = "block";
                                                   clearClass();
                                                   var dayLabel = document.getElementById("dayLabel");
                                                   var weekLabel = document.getElementById("weekLabel");
                                                   var monthLabel = document.getElementById("monthLabel");
                                                   dayLabel.classList.add("second-tab-toggle");
                                                   weekLabel.classList.add("second-tab-toggle");
                                                   monthLabel.classList.add("active");
                                             }

                                             function clearClass(){
                                                var dayLabel = document.getElementById("dayLabel");
                                                var weekLabel = document.getElementById("weekLabel");
                                                var monthLabel = document.getElementById("monthLabel");
                                                dayLabel.classList.remove("active");
                                                weekLabel.classList.remove("active");
                                                monthLabel.classList.remove("active");
                                                dayLabel.classList.remove("second-tab-toggle");
                                                weekLabel.classList.remove("second-tab-toggle");
                                                monthLabel.classList.remove("second-tab-toggle");
                                             }

                                             dayChart();

                                          </script>
                                       </div>
                                    </div>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
{#             
            <div class="col no-padding">
               <div class="col-md-6 col-xl-12">
                  <div class="card mb-3 widget-content">
                     <div class="widget-content-outer">
                           <div class="widget-content-wrapper">
                              <div class="widget-content-left">
                                 <div class="widget-heading">Total Orders</div>
                                 <div class="widget-subheading">Last year expenses</div>
                              </div>
                              <div class="widget-content-right">
                                 <div class="widget-numbers text-success">1896</div>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-xl-12">
                  <div class="card mb-3 widget-content">
                     <div class="widget-content-outer">
                           <div class="widget-content-wrapper">
                              <div class="widget-content-left">
                                 <div class="widget-heading">Products Sold</div>
                                 <div class="widget-subheading">Revenue streams</div>
                              </div>
                              <div class="widget-content-right">
                                 <div class="widget-numbers text-warning">$3M</div>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-xl-12">
                  <div class="card mb-3 widget-content">
                     <div class="widget-content-outer">
                           <div class="widget-content-wrapper">
                              <div class="widget-content-left">
                                 <div class="widget-heading">Followers</div>
                                 <div class="widget-subheading">People Interested</div>
                              </div>
                              <div class="widget-content-right">
                                 <div class="widget-numbers text-danger">45,9%</div>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-xl-12">
                  <div class="card mb-3 widget-content">
                     <div class="widget-content-outer">
                           <div class="widget-content-wrapper">
                              <div class="widget-content-left">
                                 <div class="widget-heading">Followers</div>
                                 <div class="widget-subheading">People Interested</div>
                              </div>
                              <div class="widget-content-right">
                                 <div class="widget-numbers text-danger">45,9%</div>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
            </div> #}
      </div>
      {# <div class="row">
            <div class="col-md-6 col-lg-3">
               <div class="card-shadow-danger mb-3 widget-chart widget-chart2 text-left card">
                  <div class="widget-content">
                        <div class="widget-content-outer">
                           <div class="widget-content-wrapper">
                              <div class="widget-content-left pr-2 fsize-1">
                                    <div class="widget-numbers mt-0 fsize-3 text-danger">71%</div>
                              </div>
                              <div class="widget-content-right w-100">
                                    <div class="progress-bar-xs progress">
                                       <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%;"></div>
                                    </div>
                              </div>
                           </div>
                           <div class="widget-content-left fsize-1">
                              <div class="text-muted opacity-6">Income Target</div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="card-shadow-success mb-3 widget-chart widget-chart2 text-left card">
                  <div class="widget-content">
                        <div class="widget-content-outer">
                           <div class="widget-content-wrapper">
                              <div class="widget-content-left pr-2 fsize-1">
                                    <div class="widget-numbers mt-0 fsize-3 text-success">54%</div>
                              </div>
                              <div class="widget-content-right w-100">
                                    <div class="progress-bar-xs progress">
                                       <div class="progress-bar bg-success" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>
                                    </div>
                              </div>
                           </div>
                           <div class="widget-content-left fsize-1">
                              <div class="text-muted opacity-6">Expenses Target</div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="card-shadow-warning mb-3 widget-chart widget-chart2 text-left card">
                  <div class="widget-content">
                        <div class="widget-content-outer">
                           <div class="widget-content-wrapper">
                              <div class="widget-content-left pr-2 fsize-1">
                                    <div class="widget-numbers mt-0 fsize-3 text-warning">32%</div>
                              </div>
                              <div class="widget-content-right w-100">
                                    <div class="progress-bar-xs progress">
                                       <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;"></div>
                                    </div>
                              </div>
                           </div>
                           <div class="widget-content-left fsize-1">
                              <div class="text-muted opacity-6">Spendings Target</div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="card-shadow-info mb-3 widget-chart widget-chart2 text-left card">
                  <div class="widget-content">
                        <div class="widget-content-outer">
                           <div class="widget-content-wrapper">
                              <div class="widget-content-left pr-2 fsize-1">
                                    <div class="widget-numbers mt-0 fsize-3 text-info">89%</div>
                              </div>
                              <div class="widget-content-right w-100">
                                    <div class="progress-bar-xs progress">
                                       <div class="progress-bar bg-info" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                                    </div>
                              </div>
                           </div>
                           <div class="widget-content-left fsize-1">
                              <div class="text-muted opacity-6">Totals Target</div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
      </div> #}
{% endblock %}