{% extends 'dashboard/dashboardLayout.twig' %}

{% block pageContent %}
<div class="col-md-12">
   <div class="main-card mb-3 card">
      <div class="card-header">Residence ranking
            <div class="btn-actions-pane-right">
               <div role="group" class="btn-group-sm btn-group">
                  
               </div>
            </div>
      </div>
      <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
               <thead>
               <tr>
                  <th class="text-center">#</th>
                  <th>Id & Link</th>
                  <th class="text-center">Interested Persons</th>
               </tr>
               </thead>
               <tbody>
               {% for residence in residences %}
               <tr>
                  <td class="text-center text-muted">{{loop.index}}</td>
                  <td ><a href="/residences/{{residence.id}}">{{residence.id}}</td>
                  <td class="text-center">{{residence.count}}</td>
               </tr>
               {% endfor %}
               </tbody>
            </table>
      </div>
   </div>
</div>
{% endblock %}