{% extends 'dashboard/dashboardLayout.twig' %}

{% block pageContent %}
<div class="col-md-12">
   <div class="main-card mb-3 card">
      <div class="card-header">Agency ranking
            <div class="btn-actions-pane-right">
               <div role="group" class="btn-group-sm btn-group">
                  <p class='flex-center'>Residences:</p>
                  <a href="/dashboard/agency/ranking/all" class="{% if 'all' in path %}active {% endif %}btn btn-focus text-white">All</a>
                  <a href="/dashboard/agency/ranking/sold" class="{% if 'sold' in path and 'unsold' not in path %}active {% endif %}btn btn-focus text-white">Sold</a>
                  <a href="/dashboard/agency/ranking/unsold" class="{% if 'unsold' in path %}active {% endif %}btn btn-focus text-white">Unsold</a>
               </div>
            </div>
      </div>
      <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
               <thead>
               <tr>
                  <th class="text-center">#</th>
                  <th>Name</th>
                  <th class="text-center">Residence amount</th>
               </tr>
               </thead>
               <tbody>
               {% for agency in agencies %}
               <tr>
                  <td class="text-center text-muted">{{loop.index}}</td>
                  <td >{{agency.name}}</td>
                  <td class="text-center">{{agency.count}}</td>
               </tr>
               {% endfor %}
               </tbody>
            </table>
      </div>
   </div>
</div>
{% endblock %}