{% extends 'dashboard/dashboardLayout.twig' %}

{% block pageContent %}
<div class="col-md-12">
   <div class="main-card mb-3 card">
      <div class="card-header flexHeader">
            <p class"card-header-text">Search Agency:</p>
            <form class="form-inline searchAgency" action="" type="GET">
               <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group"><label for="inputName" class="mr-sm-2">Name</label><input name="name" id="inputName" placeholder="Immo Da Vinci" type="text" class="form-control" value={{search.name}}></div>
               <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
                  <label for="inputCity" class="mr-sm-2">City</label>
                  <select class="form-control form-control-lg form-control-a" id="inputCity" name="city">
                     <option>All Cities</option>
                     {% for city in cities %}
                        <option {% if city == search.city %}selected{% endif %}>{{ city }}</option>
                     {% endfor %}
                  </select>
               </div>
               <button type="submit" class="btn btn-primary">Search</button>
            </form>
      </div>
      {% include 'dashboard/partials/agencyTable.twig' %}
   </div>
</div>
{% endblock %}