{% extends 'layout.twig' %}

{% block pageContent %}
    <section class="section-services section-services section-t4">
        <div class="container" style="margin-top: 7rem">
            {% include 'partials/errors.twig' %}
            <form action="/agent/add" method="post" enctype="multipart/form-data">
                    <dt><label for="image">Photo</label></dt>
                    <dt><input type="file" id="images" name="images[]" value="" multiple/><label for="images"></label> {% if 'images' in formErrors %} image error {% endif %}</dt>

                    <dt><label for="name">Name</label></dt>
                    <dt><input type="text" id="name" name="name" value="{{ formValues[0] }}"><label for="name"><?php echo $msgDescription ?></label></dt>

                    <dt><label for="username">Username</label></dt>
                    <dt><input type="text" id="username" name="username" value="{{ formValues[0] }}"><label for="name"><?php echo $msgDescription ?></label></dt>

                    <dt><label for="name">Agency</label></dt>
                    <div class="select-wrapper">
                        <select name="title" id="title">
                            {% for agency in agencies %}
                                <option value="{{ agency.name }}" {{ agency.name == aanspreking ? 'selected' : ''}}>{{ agency.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <dt><label for="mail">Email</label></dt>
                    <dt><input type="text" id="mail" name="mail" value="{{ formValues[1] }}"><label for="mail"><?php echo $msgDescription ?></label></dt>

                    <dt><label for="phone">Phone Number</label></dt>
                    <dt><input type="text" id="phone" name="phone" value="{{ formValues[2] }}"><label for="phone"><?php echo $msgDescription ?></label></dt>

                    <dt><label for="password">Password</label></dt>
                    <dt><input type="password" id="password" name="password" value="{{ formValues[2] }}"><label for="phone"><?php echo $msgDescription ?></label></dt>

                    <dt>
                        <input type="hidden" name="moduleAction" value="processUpload" />
                        <input type="submit" name="btnSubmit" value="Add" />
                    </dt>
                </form>
        </div>
    </section>
{% endblock %}