{% extends 'dashboard/dashboardLayout.twig' %}

{% block pageContent %}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                    Add Agency
                </div>
            </div>
            <div class="card-body">
                <section class="section-services section-services section-t4">
                    <div class="container addAgency">
                        {% include 'partials/errors.twig' %}
                        {% if exist %}
                        <form action="/agency/{{ id2 }}/edit" method="post" enctype="multipart/form-data">
                            {% else %}
                        <form action="/agency/add" method="post" enctype="multipart/form-data">
                            {% endif %}
                            <dt><label for="image">Logo</label></dt>
                            <dt><input type="file" id="images" name="images[]" value="" multiple/><label for="images"></label> {% if 'images' in formErrors %} image error {% endif %}</dt>

                            <dt><label for="name">Name</label></dt>
                            <dt><input type="text" id="name" name="name" value="{{ formValues[0] }}"><label for="name"><?php echo $msgDescription ?></label></dt>

                            <fieldset class='address'>
                                <legend>Address</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <dt><label for="country">Country</label></dt>
                                        <dt><input type="text" id="country" name="country" value="{{ formValues[1] }}"></dt>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><label for="city">City</label></dt>
                                        <dt><input type="text" id="city" name="city" value="{{ formValues[2] }}"></dt>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><label for="zip">Zip code</label></dt>
                                        <dt><input type="text" id="zip" name="zip" value="{{ formValues[3] }}"></dt>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <dt><label for="street">Street</label></dt>
                                        <dt><input type="text" id="street" name="street" value="{{ formValues[4] }}"></dt>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><label for="street_number">Street number</label></dt>
                                        <dt><input type="text" id="street_number" name="number" value="{{ formValues[5] }}"></dt>
                                    </div>
                                </div>
                            </fieldset>

                            <dt>
                                {% if check %}
                                    <input class="btn button" type="hidden" name="moduleAction" value="processUpload" />
                                    <input class="btn button" type="submit" name="btnSubmit" value="Edit" />
                                {% else %}
                                    <input class="btn button" type="hidden" name="moduleAction" value="processUpload" />
                                    <input class="btn button" type="submit" name="btnSubmit" value="Add" />
                                {% endif %}
                            </dt>
                        </form>
                    </div>
                </section>
            </div>
    </div>
</div>
{% endblock %}