{% extends 'layout.twig' %}

{% block pageContent %}
<section class="section-services section-services section-t4">
   <div class="container addResidence">
   {% include 'partials/errors.twig' %}
      {% if check %}
      <form action="/residences/{{ id }}/edit" method="post" enctype="multipart/form-data">
      {% else %}
      <form action="add" method="post" enctype="multipart/form-data">
      {% endif %}
         <dt><label for="image">Images</label></dt>
         <dt><input type="file" id="images" name="images[]" value="" multiple/><label for="images"></label> {% if 'images' in formErrors %} image error {% endif %}</dt>

         <dt><label for="type">Type</label></dt>
         <dt>
            <select id="type" name="type">
               {% for type in types %}
               <option value="{{type}}">{{ type|capitalize }} </option>
               {% endfor %}
            </select>
            <label for="type"><?php echo $msgDescription ?></label>
         </dt>

         <dt><label for="price">Price</label></dt>
         <dt><input type="number" id="price" name="price" {% if check %} value="{{ residenceValues.price }}" {% else %} value="{{ values.price }}" {% endif %}></dt>

         <dt><label for="name">Name</label></dt>
         <dt><input type="text" id="name" name="name" {% if check %} value="{{ residenceValues.name }}" {% else %} value="{{ values.name }}" {% endif %}><label for="name"><?php echo $msgDescription ?></label></dt>

         <dt><label for="description">Description</label></dt>
         <dt><textarea type="text" id="description" name="description" rows="4" cols="50">{{ values.description }}</textarea><label for="description"><?php echo $msgDescription ?>
               {% if check %} {{ residenceValues.description }}" {% endif %}</label></dt>

         <fieldset>
            <legend>Address</legend>
            <div class="row">
               <div class="col-md-4">
                  <dt><label for="country">Country</label></dt>
                  <dt><input type="text" id="country" name="address[country]" {% if check %} value="{{ residenceValues.country }}" {% else %} value="{{ values.address.country }}" {% endif %}></dt>
               </div>
               <div class="col-md-4">
                  <dt><label for="city">City</label></dt>
                  <dt><input type="text" id="city" name="address[city]" {% if check %} value="{{ residenceValues.city }}" {% else %} value="{{ values.address.city }}" {% endif %}></dt>
               </div>
               <div class="col-md-4">
                  <dt><label for="zip">Zip code</label></dt>
                  <dt><input type="text" id="zip" name="address[zip]" {% if check %} value="{{ residenceValues.zip_code }}" {% else %} value="{{ values.address.zip }}" {% endif %}></dt>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <dt><label for="street">Street</label></dt>
                  <dt><input type="text" id="street" name="address[street]" {% if check %} value="{{ residenceValues.street }}" {% else %} value="{{ values.address.street }}" {% endif %}></dt>
               </div>
               <div class="col-md-4">
                  <dt><label for="street_number">Street number</label></dt>
                  <dt><input type="text" id="street_number" name="address[street_number]" {% if check %} value="{{ residenceValues.street_number }}" {% else %} value="{{ values.address.street_number }}" {% endif %}></dt>
               </div>
               <div class="col-md-4">
                  <dt><label for="bus">Bus</label></dt>
                  <dt><input type="text" id="bus" name="address[bus]" {% if check %} value="{{ residenceValues.street_bus }}" {% else %} value="{{ values.address.bus }}" {% endif %}></dt>
               </div>
            </div>
         </fieldset>

         <fieldset>
            <legend>Properties</legend>
            <div class="row">
               <table class="col-md-6" margin='5'>
                  <tr>
                     <td class='bold'>Property</td>
                     <td class='bold'>Value</td>
                  </tr>
                  {% for key, value in properties|slice(0,properties|length / 2 + 0.5) %}
                  <tr>
                     <td>{{key}}</td>
                     <td><input type="number" id="{{key}}" name="properties[{{key}}]" value="{{ value }}"><label for="{{key}}"><?php echo $msgDescription ?></label></td>
                  </tr>
                  {% endfor %}
               </table>
               <table class="col-md-6" margin='5'>
                  <tr>
                     <td class='bold'>Property</td>
                     <td class='bold'>Value</td>
                  </tr>
                  {% for key, value in properties|slice(properties|length / 2 + 0.5, properties|length) %}
                  <tr>
                     <td>{{key}}</td>
                     <td><input type="number" id="{{key}}" name="properties[{{key}}]" value="{{ value }}"><label for="{{key}}e"><?php echo $msgDescription ?></label></td>
                  </tr>
                  {% endfor %}
               </table>
            </div>
         </fieldset>

         <dt>
            {% if check %}
               <input type="hidden" name="moduleAction" value="processUpload" />
               <input type="submit" name="btnSubmit" value="Edit" />
            {% else %}
               <input type="hidden" name="moduleAction" value="processUpload" />
               <input type="submit" name="btnSubmit" value="Add" />
            {% endif %}

         </dt>
      </form>
   </div>
</section>
{% endblock %}