{% extends 'layout.twig' %}

{% block pageContent %}
  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      {% for residence in residences %}
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(/img/slide-{{ random(1,3) }}.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">{{ residence.city }}, {{ residence.country }}
                      <br> {{ residence.zip_code }}</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">{{ residence.street_number }} </span> {{ residence.city }}
                      <br> {{ residence.street }}{% if residence.street_bus %} <br>bus {{ residence.street_bus }}{% endif %}</h1>
                    <p class="intro-subtitle intro-price">
                      <form action="/residences/{{ residence.id }}" method="GET">
                        <input class="price-a" type="submit" value="{{ residence.payment }} | € {{ residence.price }}"></input>
                      </form>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest Residences</h2>
            </div>
            <div class="title-link">
              <a href="/residences/page/1">All Residences
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="property-carousel" class="owl-carousel owl-theme">
        {% for residence in latest_properties %}
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="/img/property-{{ random(1,10) }}.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="/residences/{{ residence.id }}">{{ residence.zip_code }}, {{ residence.city }}
                    </a>
                    <p>
                      {{ residence.street }} {{ residence.street_number }}{% if residence.street_bus %} <br>bus {{ residence.street_bus }}{% endif %}
                    </p>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <form action="/residences/{{residence.id}}" method="GET">
                        <input class="price-a" type="submit" value="{{ residence.payment }} | € {{ residence.price }}"></input>
                      </form>
                  </div>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>{{ residence.surface }}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>{{ residence.bedrooms }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>{{ residence.bathrooms }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>{{ residence.garages }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Property End /-->

  <!--/ Agents Star /-->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Agents</h2>
            </div>
            <div class="title-link">
              <a href="/agents">All Agents
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for agent in agents %}
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="/uploadImg/{{ agent.images }}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    {{ agent.user_name }}
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  <a href="agency/{{ agent.agency_id }}" class="link-two">{{ agent.agency_name }}</a>
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> {{ agent.phone_number }}</p>
                  <p>
                    <strong>Email: </strong> {{ agent.email }}</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Testimonials End /-->
{% endblock %}
