<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EstateAgency Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Properties</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a" action="/residences/search/page/1" method="GET">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="keyword">Keyword</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword" name="keyword">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="type">Type</label>
              <select class="form-control form-control-lg form-control-a" id="type" name="type">
                <option>All Types</option>
                {% for type in types %}
                <option>{{ type }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">City</label>
              <select class="form-control form-control-lg form-control-a" id="city" name="city">
                <option>All Cities</option>
                {% for city in cities %}
                <option>{{ city }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bedrooms">Bedrooms</label>
              <input type="number" class="form-control form-control-lg form-control-a" id="bedrooms" name="bedrooms" value="1" min="1" max="100">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Bathrooms</label>
              <input type="number" class="form-control form-control-lg form-control-a" id="bathrooms" name="bathrooms" value="1" min="1" max="100">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="garages">Garages</label>
              <input type="number" class="form-control form-control-lg form-control-a" id="garages" name="garages" value="0" min="0" max="100">
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <div class="form-group">
              <label for="min-price">Min Price</label>
              <input type="number" class="form-control form-control-lg form-control-a" id="min-price" name="min-price" value="0" min="0" max="1000000000">
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <div class="form-group">
              <label for="max-price">Max Price</label>
              <input type="number" class="form-control form-control-lg form-control-a" id="max-price" name="max-price" value="0" min="0" max="1000000000">
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Search Properties</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/ Form Search End /-->

  {% include 'partials/header.twig' %}

   {% block pageContent %}
   {% endblock %}

  {% include 'partials/footer.twig' %}

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  {% include 'partials/libraries.twig' %}

</body>
</html>
