<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>EstateAgency Bootstrap Template</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicons -->
	<link href="/img/favicon.png" rel="icon">
	<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/lib/animate/animate.min.css" rel="stylesheet">
	<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link href="/css/style.css" rel="stylesheet">

	<!-- =======================================================
      Theme Name: EstateAgency
      Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/img/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--===============================================================================================-->
</head>

<body>

<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
	<div class="title-box-d">
		<h3 class="title-d">Search Property</h3>
	</div>
	<span class="close-box-collapse right-boxed ion-ios-close"></span>
	<div class="box-collapse-wrap form">
		<form class="form-a">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="form-group">
						<label for="Type">Keyword</label>
						<input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group">
						<label for="Type">Type</label>
						<select class="form-control form-control-lg form-control-a" id="Type">
							<option>All Type</option>
							<option>For Rent</option>
							<option>For Sale</option>
							<option>Open House</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group">
						<label for="city">City</label>
						<select class="form-control form-control-lg form-control-a" id="city">
							<option>All City</option>
							<option>Alabama</option>
							<option>Arizona</option>
							<option>California</option>
							<option>Colorado</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group">
						<label for="bedrooms">Bedrooms</label>
						<select class="form-control form-control-lg form-control-a" id="bedrooms">
							<option>Any</option>
							<option>01</option>
							<option>02</option>
							<option>03</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group">
						<label for="garages">Garages</label>
						<select class="form-control form-control-lg form-control-a" id="garages">
							<option>Any</option>
							<option>01</option>
							<option>02</option>
							<option>03</option>
							<option>04</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group">
						<label for="bathrooms">Bathrooms</label>
						<select class="form-control form-control-lg form-control-a" id="bathrooms">
							<option>Any</option>
							<option>01</option>
							<option>02</option>
							<option>03</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group">
						<label for="price">Min Price</label>
						<select class="form-control form-control-lg form-control-a" id="price">
							<option>Unlimite</option>
							<option>$50,000</option>
							<option>$100,000</option>
							<option>$150,000</option>
							<option>$200,000</option>
						</select>
					</div>
				</div>
				<div class="col-md-12">
					<button type="submit" class="btn btn-b">Search Property</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--/ Form Search End /-->

{% include 'partials/header.twig' %}

<div class="limiter">
	<div class="container-login100" style="background-image: url('/img/bg-01.jpg');">
		<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
				</span>
			{% if formErrors %}
				<div class="alert alert-danger">
					<strong>Hier is iets misgegaan.</strong>
					<br><br>
					<ul>
						{% for error in formErrors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<form action="login" method="POST" class="login100-form validate-form p-b-33 p-t-5">

				<div class="wrap-input100 validate-input" data-validate = "Enter username">
					<input class="input100" type="text" name="username" placeholder="User name" value="{{ name }}">
					<span class="focus-input100" data-placeholder="&#xe82a;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<input class="input100" type="password" name="pass" placeholder="Password">
					<span class="focus-input100" data-placeholder="&#xe80f;"></span>
				</div>

				<input type="hidden" name="moduleAction" value="login" />
				<div class="container-login100-form-btn m-t-32">
					<button class="login100-form-btn">
						Login
					</button>
				</div>
				<p class="text-left"><a href="registration">Nog geen account, maak er één aan!</a></p>

			</form>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/js/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/js/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/js/mainlogin.js"></script>
</body>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

{% include 'partials/libraries.twig' %}

</html>