  {% extends 'layout.twig' %}

  {% block pageContent %}
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Preferences</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Your preferences
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ News Single Star /-->
  <section class="news-single nav-arrow-b">
    <div class="container">
        {% if preferences %}
        <table class="table table-hover table-dark table-striped table-responsive-lg">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    {% for key, value in preferences|first %}
                    <th scope="col">{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, preference in preferences %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    {% for value in preference %}
                    <td>{{ value }}</td>
                    {% endfor %}
                    <td class="bg-danger"><a href="/residences/preferences/delete/{{ key }}"><i class="fas fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h1>No preferences</h1>
        {% endif %}
    </div>
  </section>
  <!--/ News Single End /-->
  {% endblock %}