{% extends 'layout.twig' %}

  {% block pageContent %}
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Amazing Properties</h1>
            <span class="color-text-a">Grid Properties</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Properties Grid
              </li>
            </ol>
          </nav>
          {% if searchParams %}
          <a href="/residences/preferences/save{{ searchParams }}" class="btn btn-primary float-right">Save preferences <i class="far fa-heart"></i></a>
          {% endif %}
        </div>
      </div>
      {% if messages %}
      <div class="row">
        <div class="alert alert-success" role="alert">
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Grid Star /-->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="grid-option">
          <p>pages: {{ pages }}</p>
            <form>
              <select class="custom-select" name="filter" id="filter">
                {% for filter in filters %}
                <option value="{{ loop.index0 }}"{% if filter|lower == currentFilter|lower %}selected{% endif %}>{{ filter }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
        {% if residences %}
        {% for residence in residences %}
            {% include 'partials/residence-card.twig' %}
        {% endfor %}
        {% else %}
            <h1>No residences found</h1>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-12">
          <nav class="pagination-a">
            <ul class="pagination justify-content-end">
              <li class="page-item{% if currentPage <= 1 %} disabled{% endif %}">
                <a class="page-link" href="./{{ currentPage - 1 }}{% if searchParams %}{{ searchParams }}{% endif %}" tabindex="-1">
                  <span class="ion-ios-arrow-back"></span>
                </a>
              </li>
              {% for pageNumber in 1..pages %}
              <li class="page-item{% if pageNumber == currentPage %} active{% endif %}">
                <a class="page-link" href="./{{ pageNumber }}{% if searchParams %}{{ searchParams }}{% endif %}">{{ pageNumber }}</a>
              </li>
              {% endfor %}
              <li class="page-item{% if currentPage >= pages %} disabled{% endif %}">
                <a class="page-link" href="./{{ currentPage + 1 }}{% if searchParams %}{{ searchParams }}{% endif %}">
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Property Grid End /-->
  {% endblock %}