{% if agencies is empty %}
         <p class="text-nothing-found">No agency was found</p>
      {% else %}
      <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
               <thead>
               <tr>
                  <th>Logo</th>
                  <th>Name</th>
                  <th class="text-center">City</th>
                  <th class="text-center">Actions</th>
               </tr>
               </thead>
               <tbody>
               {% for agency in agencies %}
               <tr>
                  <td><image src="/uploadImg/{{agency.image}}" class="agencyLogos"></td>
                  <td ><a href="/agency/{{agency.id}}">{{agency.name}}</a></td>
                  <td class="text-center">{{agency.city}}</td>
                  <td>
                     {% if agency.blocked %}
                        <form class="agencyAction" action="/dashboard/agency/{{agency.id}}/unblock" method="POST">
                           <input type="hidden" name="path" value="{{path}}">
                           <button type="submit" class="btn btn-primary"><i class="metismenu-icon pe-7s-unlock"></i><p>Unblock</p></button>
                        </form>
                     {% else  %}
                        <form class="agencyAction" action="/dashboard/agency/{{agency.id}}/block" method="POST">
                           <input type="hidden" name="path" value="{{path}}">
                           <button type="submit" class="btn btn-primary"><i class="metismenu-icon pe-7s-lock"></i><p>Block</p></button>
                        </form>
                     {% endif %}
                     <form class="agencyAction" action="/dashboard/agency/{{agency.id}}/delete" method="POST">
                        <input type="hidden" name="path" value="{{path}}">
                        <button type="submit" class="btn btn-primary"><i class="metismenu-icon pe-7s-close-circle"></i><p>Remove</p></button>
                     </form>
                  </td>
               </tr>
               {% endfor %}
               </tbody>
            </table>
      </div>
      {% endif %}