{% if formErrors is not empty %}
   <h4 style="color: #a32c28;">Error:</h4>
		<ul style="color: #a32c28;">
         {% for error in formErrors %}
            <li>{{error}}</li>
         {% endfor %}
     </ul>
{% endif %}