<!-- Start card -->

<div class="col-md-4">
    <form method="post" action="/residences/{{ residence.id }}/{% if residence.favourite %}unlike{% else %}like{% endif %}">
    <input type="hidden" name="currentPage" value="{{ currentPage }}">
    <button type="submit" class="{% if residence.favourite %}unlike{% else %}like{% endif %}"><i class="{% if residence.favourite %}fas fa-heart{% else %}far fa-heart{% endif %}"></i></button>
    </form>
    <div class="card-box-a card-shadow">
    <div class="img-box-a">
        <img src="/img/residences/{{ residence.id }}/{{ residence.images|first }}" alt="" class="img-a img-fluid">
    </div>
    <div class="card-overlay">
        <div class="card-overlay-a-content">
        <div class="card-header-a">
            <h2 class="card-title-a">
            <a href="/residences/{{ residence.id }}">{{ residence.city }}, {{ residence.country }} <br>
                <br /> {{ residence.street }} {{ residence.street_number }}{% if residence.street_bus %} <br>bus {{ residence.street_bus }}{% endif %}</a>
            </h2>
        </div>
        <div class="card-body-a">
            <div class="price-box d-flex">
                <form action="/residences/{{ residence.id }}" method="GET">
                <input type="hidden" name="moduleAction" value="single-residence"></input>
                <input class="price-a" type="submit" value="{{ residence.payment }} | € {{ residence.price }}"></input>
                </form>
            </div>
        </div>
        <div class="card-footer-a">
            <ul class="card-info d-flex justify-content-around">
            <li>
                <h4 class="card-info-title">Area</h4>
                <span>{{ residence.surface }}m
                <sup>2</sup>
                </span>
            </li>
            <li>
                <h4 class="card-info-title">Beds</h4>
                <span>{{ residence.bedrooms }}</span>
            </li>
            <li>
                <h4 class="card-info-title">Baths</h4>
                <span>{{ residence.bathrooms }}</span>
            </li>
            <li>
                <h4 class="card-info-title">Garages</h4>
                <span>{{ residence.garages }}</span>
            </li>
            </ul>
            
        </div>
        </div>
    </div>
    </div>
</div>

<!-- End card -->